.logoWrapper {
    max-width: 130px;
}
.logoContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}
.footerContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}
h4 {
    border-bottom: 2px solid;
}
.contactLink {
    display: flex;
    gap: 8px;
    align-items: center;
}
