.logoContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}
.menuItemContainer {
    display: flex;
    gap: 1rem;
}
.btnNav {
    margin: 20px 0px;
    padding: 16px 8px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.125rem;
}
